body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.table tbody > tr > td.vertical-middle
{
    vertical-align: middle;
}

.modal-content .modal-footer
{
    border-top: 0;
    margin-top: 0;
}

.hidden
{
    display: none;
}