<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Phonebook module for Zend Framework 1.12">
    <meta name="author" content="Arkadiusz Moskwa <a.moskwa@gmail.com>">
    <title>Phonebook module</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/phonebook/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/phonebook/css/style.css" rel="stylesheet">
    {% block prependCss %}{% endblock %}
    {% block prependJs %}{% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/phonebook">{% block projectName %}Phone book{% endblock %}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add number <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/phonebook/add/existing">To registered person</a></li>
                        <li><a href="/phonebook/add/new">To new person</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<div id="modal">
    {% include 'modal.twig' %}
</div>

<div class="container">

    <div class="starter-template">
        {% if sessionMessage %}
            <div id="sessionMessages" class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 alert alert-success">
                    <span class="glyphicon glyphicon-ok-sign"></span>  {{ sessionMessage }}
                </div>
                <div class="col-md-3"></div>
            </div>
        {% endif %}
        {% block filter %}
        {% set showFilterAndExport = numbers is defined and numbers is not empty %}
        <div class="row">
            <div class="col-md-4">

                <input
                        type="text"
                        value="{{ filter }}"
                        id="filter"
                        class="form-control{% if not showFilterAndExport %} hidden{% endif %}"
                        placeholder="Type name or number to filter numbers"
                        />

            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="btn-group">
                    {% if showFilterAndExport %}
                    <a href="/phonebook/csv/export"
                       type="button"
                       class="btn btn-primary btn-sm{% if not showFilterAndExport %} hidden{% endif %}"
                       id="exportCsv"
                            >
                        <span class="glyphicon glyphicon-floppy-save"></span>
                        Export to CSV
                    </a>
                    {% endif %}
                    <button id="csvImport" type="button" class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-floppy-open"></span>
                        Import from CSV
                    </button>
                </div>
            </div>
        </div>
        {% endblock %}
        <div class="row">&nbsp;</div>
        <div id="mainContainer">
            {% block mainContent %}
            {% endblock %}
        </div>
    </div>
</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/assets/phonebook/js/bootstrap.min.js"></script>
{% block appendJs %}{% endblock %}
</body>
</html>
