{% if modalData is defined %}
<div class="modal fade" id="modalMessages" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header {{ modalData.status starts with '4' ? 'bg-danger' : 'bg-primary' }}">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="modalLabel"class="modal-title">
                    {{ modalData.title }}
                </h4>
            </div>
            <div class="modal-body {% block modalBodyClasses %}bg-info{% endblock %}">
                {{ modalData.message ~ '(' ~ modalData.status ~ ')' }}
            </div>
            <div class="modal-footer bg-info">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                {% if modalData.confirm == 'true' %}
                <button type="button" class="btn btn-default">Save changes</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}