<div class="modal fade" id="modalMessages" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="modalHeader" class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="modalLabel" class="modal-title">
                    {{ modalData.title }}
                </h4>
            </div>
            <div id="modalMessage" class="modal-body">
                {% block modalMessage %}{{ modalData.message  }}{% endblock %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
